nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem clamp(2rem, -6.925rem + 16.604vw, 13rem);
    background-color: rgba(255, 255, 255, 0.8);
    flex-wrap: wrap;
    .logo {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: .6rem;
            
            
            .brand {
                background: var(--gradient-logo);
                border-radius: 15px;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                svg {
                    width: 35px;
                    height: 35px;
                }
            }
    
            h1 {
                display: flex;
                font-size: 3rem;
                font-family: 'Anek Odia';
                background: var(--gradient-branding);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                line-height: 1;
                transform: translateY(8px);
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: clamp(1rem, -0.087rem + 1.739vw, 2rem);
        a {
            padding: .5rem 1rem;
            border-radius: 15px;
            font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
            color: var(--gray-500);
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: .5rem;
            transition: .2s ease;
            svg {
                
                width: 30px;
                height: 30px;
                path {
                    transition: .2s ease;
                }
                circle {
                    transition: .2s ease;
                }
            }
        }

        a:hover {
            color: var(--gray-800);
            background-color: var(--gray-100);
            svg {
                path {
                    stroke: var(--gray-800);
                }
                circle {
                    stroke: var(--gray-800);
                }
                
            }
        }

        .selected {
            cursor: default;
            color: var(--amber-700);
            background-color: var(--amber-100);
            svg {
                path {
                    stroke: var(--amber-700);
                }
                circle {
                    stroke: var(--amber-700);
                }     
            }
        }
        .selected:hover {
            color: var(--amber-700);
            background-color: var(--amber-100);

            svg {
                path {
                    stroke: var(--amber-700);
                }
                circle {
                    stroke: var(--amber-700);
                }
            }
        }
    }
}

.collapsed-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    span {
        width: 35px;
        height: 3px;
        background-color: var(--gray-500);
        border-radius: 2px;
        transition: .3s ease;
    }
}

@media (max-width: 960px) {
    nav {
        .menu {
            display: flex;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            
            width: 100%;
            flex-direction: column;
            order: 3;
            transform: translateY(-10px);
            transition: opacity .3s ease, visibility .3s ease, transform .3s ease, max-height .3s ease, padding .3s ease;            
            
            a {
                width: 100%;
                border-radius: 10px;
            }
        }
        .menu.menu-open {
            visibility: visible;
            opacity: 1;
            display: flex;
            transform: translateY(0);
            max-height: 400px;
            padding: .5rem 0 1rem;
            backdrop-filter: blur(10px);
        }
        .collapsed-menu {
            display: flex;
     
        }
        .collapsed-menu.open span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .collapsed-menu.open span:nth-child(2) {
            opacity: 0;
            transform: scaleX(0);
        }

        .collapsed-menu.open span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}