.post {
    background-color: var(--white);
    border:1px solid #f3f4f69d;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: -2px 2px 3px #dadada44;
    .post-header {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .post-user {
            display: flex;
            align-items: center;
            gap: 1rem;
            .circle {
                position: relative;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                img {
                    position: relative;
                    width: 69px;
                    height: 69px;
                    border: 2px solid var(--white);
                    object-fit: cover;
                    border-radius: 50%;
                    z-index: 1;
                }
            }

            .circle::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 50%;
                background: var(--gradient-profile);
                transition: opacity .4s ease;
                z-index: 0;
            }

            .circle::after {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 50%;
                background: var(--gradient-profile-hover);
                opacity: 0;
                transition: opacity .4s ease;
                z-index: 0;
            }


            .circle:hover::after {
                opacity: 1; 
            }

            .user-info {
                display: flex;
                flex-direction: column;
                gap: .3rem;
                .name {
                    font-size: 1.25rem;
                    color: var(--gray-800);
                    font-weight: 600;
                }
                .launch-date {
                    font-size: 1rem;
                    color: var(--gray-400);
                    font-weight: 400;
                }
            }
        }
        .post-options {
            cursor: pointer;
            svg {
                circle {
                    transition: .2s ease;
                }
            }
        }
        .post-options:hover {
            svg {
                circle {
                    stroke: var(--gray-800);
                }
            }
        }
    }
    .post-main-image {
        background-image: url('assets/Alexelcapo.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 46.125rem;
    }

    .interactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        .like-comment-share {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            cursor: pointer;
            svg {
                width: 40px;
                height: 40px;
                path {
                    transition: .2s ease;
                }
                circle {
                    transition: .2s ease;
                }
            }

            .like:hover {
                path {
                    stroke: var(--pink);
                }
            }
            .comment:hover {
                path {
                    stroke: var(--amber-500);
                }
            }
            .share:hover {
                path {
                    fill: var(--blue);
                }
            }
        }

        .save {
            cursor: pointer;
            svg {
                width: 60px;
                height: 60px;
                
                path {
                    transition: .2s ease;
                }
            }
        }

        .save:hover {
            svg {
                path {
                    fill: var(--gray-900);
                }
            }
        }
    }

    .description {
        padding: 0 2rem 1rem 2rem;
        p {
            font-size: 1.125rem;
            color: var(--gray-700);
            .name {
                font-weight: 600;
                color: var(--gray-900);
            }
            .expand-description {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: start;
                .expand {
                    transform: translateX(-3px);
                    fill: var(--gray-500);
                    transition: .2s ease;
                }

                .expand:hover {
                    fill: var(--gray-900);
                }
            }
        }
    }

    .hashtags {
        display: flex;
        gap: 1rem;
        padding: 0 2rem 2rem 2rem;
        .hashtag {
            padding: .3rem .8rem;
            border-radius: 15px;
            font-size: 1rem;
            color: var(--amber-700);
            cursor: pointer;
            transition: .2s ease;
        }

        .hashtag:hover {
            background-color: var(--amber-100);
        }
    }
}