.register-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .username, .email, .birthdate, .phone, .password, .repeat-password {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .birthdate {
        .day-month-year {
            display: flex;
            gap: 1rem;
        }
    }

    .register-btn {
        width: 100%;
        padding: .8rem 1.5rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        box-shadow: 0 2px 5px 0 var(--emerald-100);
        transition: .2s ease;
        background: linear-gradient(
            90deg,
            var(--emerald-500) 0%,
            var(--lime-400) 100%
        );

    }

    .register-btn:hover {
        background: linear-gradient(
            90deg,
            var(--emerald-300) 0%,
            var(--lime-300) 100%
        );
        box-shadow: 0 2px 10px 0 var(--emerald-200);
        color: var(--emerald-700);

    }
    .secondary-btn {
        width: 100%;
        padding: .8rem 1.5rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        box-shadow: 0 2px 5px 0 var(--emerald-100);
        transition: .2s ease;
        border: 2px solid var(--emerald-500);
        background-color: transparent;
        color: var(--emerald-600);    
    }
    
    .secondary-btn:hover {
        background-color: var(--emerald-500);
        box-shadow: 0 2px 10px 0 var(--emerald-200);
        color: white;
    
    }
}
