.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;

}

.right-wrapper {
    position: fixed;
    margin-top: calc(3rem + 5rem);
    grid-column: 9 / 13;
    justify-self: end;
    top: 0;
    grid-row: 1/4;
    padding: 0rem;

    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.5rem;
        z-index: 0;
    }
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}