.filters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .75rem;
    align-items: center;
    .filter {
        padding: .5rem 1.5rem;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        background-color: white;
        transition: .3s ease;
        border: 1px solid var(--gray-100);
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
        p {
            font-size: 1rem;
            color: var(--gray-600);
        }
    }
    .active {
        background-color: var(--amber-600);
        box-shadow: 0px 2px 10px oklch(92.4% 0.12 95.746);
        cursor: default;
        p {
            color: var(--white);
        }
    }
    
    .filter:hover {
        background-color: var(--amber-100);

    }

    .active:hover {
        background-color: var(--amber-600);
    }
}