.stories {
    background-color: var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    padding: 1.375rem;
    border-radius: 40px;
    border: 1px solid #f3f4f67e;
    box-shadow: -2px 2px 3px #dadada3a;
    .you {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .circle {
            width: 85px;
            height: 85px;
            border-radius: 50%;
            background: var(--gradient-trending);
            border: 2px dashed #F59E0B;
            top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 30px;
                height: 30px;
                line {
                    stroke: #b45309;
                }
            }
        }

        p {
            font-size: 1rem;
            color: var(--gray-600);
            font-weight: 300;
        }
    }

    .storie {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        .circle {
            height: 85px;
            width: 85px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                z-index: 1;
                width: 79px;
                height: 79px;
                object-fit: cover;
                border: 3px solid var(--white);
                border-radius: 50%;
            }
        }
        .circle::before {
            content: '';
            position: absolute;
            inset: 0;
            transition: .2s ease;
            background: linear-gradient(
                135deg,
                #10B981 0%,
                #22C55E 23%,
                #A3E635 48%,
                #FB923C 75%,
                #F472B6 93%
            );
            border-radius: 50%;   
            z-index: 0;
        }
        .circle::after {
            content: '';
            position: absolute;
            inset: 0;
            transition: .3s ease;
            background: linear-gradient(
                225deg,
                #10B981 0%,
                #22C55E 23%,
                #A3E635 48%,
                #FB923C 75%,
                #F472B6 93%
            );
            border-radius: 50%;   
            z-index: 0;
            opacity: 0;
        }
        .circle:hover::after {
            opacity: 1;
        }
        p {
            font-size: 1rem;
            color: var(--gray-600);
            font-weight: 300;
        }
    }
}